@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?u78ibn");
  src: url("/fonts/icomoon.eot?u78ibn#iefix") format('embedded-opentype'), url("/fonts/icomoon.ttf?u78ibn") format('truetype'), url("/fonts/icomoon.woff?u78ibn") format('woff'), url("/fonts/icomoon.svg?u78ibn#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-radio:before {
  content: "\e03e";
}
.icon-recent_actors:before {
  content: "\e03f";
}
.icon-repeat:before {
  content: "\e040";
}
.icon-laptop:before {
  content: "\e001";
}
.icon-briefcase:before {
  content: "\e015";
}
.icon-wallet:before {
  content: "\e016";
}
@font-face {
  font-family: 'panton';
  src: url("../fonts/panton-webfont.eot");
  src: url("../fonts/panton-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/panton-webfont.woff2") format('woff2'), url("../fonts/panton-webfont.woff") format('woff'), url("../fonts/panton-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pantonsemibold';
  src: url("../fonts/panton-semibold-webfont.eot");
  src: url("../fonts/panton-semibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/panton-semibold-webfont.woff2") format('woff2'), url("../fonts/panton-semibold-webfont.woff") format('woff'), url("../fonts/panton-semibold-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pantonlight';
  src: url("../fonts/panton-light-webfont.eot");
  src: url("../fonts/panton-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/panton-light-webfont.woff2") format('woff2'), url("../fonts/panton-light-webfont.woff") format('woff'), url("../fonts/panton-light-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #000;
}
.bold {
  font-weight: 600;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-IMG_11032016_160446 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 1602px;
  height: 948px;
}
.icon-russia:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -948px;
  width: 640px;
  height: 480px;
}
.icon-russia {
  background-image: url(../img/sprite.png);
  background-position: -640px -948px;
  width: 640px;
  height: 480px;
}

input {
  outline: 0;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
  position: relative;
  height: 100%;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
body {
  font-family: 'panton', Arial, sans-serif;
  background: #ffc0cb;
  color: #fff;
}
.hidden {
  display: none !important;
}
.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
}
.header-active {
  color: #11d1cc !important;
}
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 980px;
  height: 100px;
  padding: 0 10px;
}
.top-menu a {
  color: #fff;
  font-family: Panton;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  transition: all 0.4s;
}
.top-menu a:hover {
  color: #11d1cc;
}
.top-menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
.logo-head {
  width: 180px;
  height: 180px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #0d0d0d;
}
.logo-head img {
  margin: 0 auto;
}
.top-menu-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
section {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 100px;
  min-width: 980px;
}
.filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.65;
  background: #000;
  z-index: 100;
}
.main-slider {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.main-slider-slogan {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 100;
}
.main-slider-el {
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center center;
}
.section-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mouse-icon {
  position: absolute;
  bottom: 40px;
  z-index: 100;
  left: 50%;
  margin-left: -10px;
}
.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wraper {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .about-wraper {
    flex-wrap: wrap;
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.about-wraper:before,
.about-wraper:after {
  content: '';
  display: table;
}
.about-wraper:after {
  clear: both;
}
.about-img {
  width: 30%;
  margin-right: 5%;
}
.about-img img {
  border-radius: 50%;
  border: 2px solid #11d1cc;
}
.about-info {
  width: 65%;
}
.about-title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .about-title {
    text-align: center;
  }
}
.about-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  .about-text {
    text-align: center;
  }
}
.about-line {
  width: 60px;
  height: 2px;
  background-color: #11d1cc;
  margin: 20px 0;
}
@media only screen and (max-width: 768px) {
  .about-line {
    margin: 20px auto;
  }
}
.about-slogan {
  font-family: Panton;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
@media only screen and (max-width: 768px) {
  .about-slogan {
    text-align: center;
  }
}
.section-concept {
  display: flex;
  justify-content: center;
  align-items: center;
}
.concept-wraper {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
}
.concept-wraper:before,
.concept-wraper:after {
  content: '';
  display: table;
}
.concept-wraper:after {
  clear: both;
}
.concept-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
}
.concept-head-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  width: 25%;
}
.concept-el {
  width: 30%;
}
.concept-el-head {
  margin-bottom: 20px;
  display: flex;
}
.concept-el-head-icon img {
  width: 28px;
  height: 28px;
}
.concept-el-head-title {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'pantonsemibold';
}
.concept-el-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.concept-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.baner-wraper {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baner-wraper:before,
.baner-wraper:after {
  content: '';
  display: table;
}
.baner-wraper:after {
  clear: both;
}
.section-baner {
  background-image: url("../img/baner-1.jpg");
  background-size: cover;
}
.baner-slogan {
  z-index: 100;
  position: relative;
  margin-left: 50%;
}
.baner-slogan img {
  width: 100%;
}
.section-advant {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-advant:before,
.section-advant:after {
  content: '';
  display: table;
}
.section-advant:after {
  clear: both;
}
.advant-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.advant-el {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.advant-el-icon img {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advant-el-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin-top: -30px;
}
.section-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-wraper {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
  width: 100%;
}
.portfolio-wraper:before,
.portfolio-wraper:after {
  content: '';
  display: table;
}
.portfolio-wraper:after {
  clear: both;
}
.portfolio-head {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio-head-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}
.portfolio-head-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-head-toggle-el {
  font-size: 24px;
  font-weight: 400;
  margin-right: 40px;
  width: 100%;
  position: relative;
}
.portfolio-head-toggle-el:hover {
  cursor: pointer;
}
.portfolio-active:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #11ccc7;
  bottom: -10px;
  left: 0px;
}
.portfolio-slider-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio-img {
  width: 24%;
  margin-bottom: 1%;
}
.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.14;
  background-color: #11d1cc;
  margin-right: 10px;
}
.owl-dot.active {
  opacity: 1;
}
.section-clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-wraper {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
}
.clients-wraper:before,
.clients-wraper:after {
  content: '';
  display: table;
}
.clients-wraper:after {
  clear: both;
}
.clients-title {
  margin-bottom: 90px;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}
.clients-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.clients-label-img {
  width: 17%;
}
.clients-label-img img {
  margin: 0 auto;
  margin-bottom: 60px;
}
.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/baner-contact.jpg");
  background-size: cover;
}
.contact-wraper {
  *zoom: 1;
  width: auto;
  max-width: 980px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-wraper:before,
.contact-wraper:after {
  content: '';
  display: table;
}
.contact-wraper:after {
  clear: both;
}
.contact-slogan {
  width: 70%;
}
.contact-form {
  width: 30%;
}
.contact-form form input {
  width: 100%;
  background: none;
  border: 0px;
  border-bottom: 1px solid #fff;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.contact-form form input:focus {
  border-bottom: 2px solid #11d1cc;
}
.contact-form form button {
  border: 2px solid #11d1cc;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  background: none;
  height: 60px;
  margin-top: 60px;
  transition: all 0.4s;
}
.contact-form form button:hover {
  background: #11d1cc;
}
.section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wraper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 70%;
}
.footer-logo,
.footer-number {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-email {
  font-size: 24px;
  font-weight: 400;
}
.footer-soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.footer-soc a {
  font-size: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-comp {
  font-size: 10px;
  font-weight: 400;
}
.footer-comp a {
  color: #fff;
  border-bottom: 1px solid #11d1cc;
}
.section-lock {
  background-image: url("../img/baner-1.jpg");
  background-size: cover;
}
.section-lock-img {
  width: 290px !important;
  margin-bottom: 20%;
}
.lock-text {
  color: #fff;
  font-family: Panton;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}
.lock-text span {
  color: #11d1cc;
}
.lock-wraper {
  z-index: 110;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  top: 30%;
  right: 10%;
}
