//Include style
include block_html/_style.jade
body
	//Include header
	include block_html/elements/_header.jade
	include block_html/elements/_const.jade


	//Section-baner
	section.section-lock
		.filter
		.lock-wraper
			.lock-img
				img(src="img/logo-lock.png", alt="").section-lock-img
			.lock-text
					|Мой сайт находиться в разработке <br> Открытие через <span>2</span> дня


//Include footer
include ./block_html/_script.jade

