@font-face {
		font-family: 'panton';
		src: url('../fonts/panton-webfont.eot');
		src: url('../fonts/panton-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/panton-webfont.woff2') format('woff2'),
		url('../fonts/panton-webfont.woff') format('woff'),
		url('../fonts/panton-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'pantonsemibold';
		src: url('../fonts/panton-semibold-webfont.eot');
		src: url('../fonts/panton-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/panton-semibold-webfont.woff2') format('woff2'),
		url('../fonts/panton-semibold-webfont.woff') format('woff'),
		url('../fonts/panton-semibold-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'pantonlight';
		src: url('../fonts/panton-light-webfont.eot');
		src: url('../fonts/panton-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/panton-light-webfont.woff2') format('woff2'),
		url('../fonts/panton-light-webfont.woff') format('woff'),
		url('../fonts/panton-light-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

